doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            if !user
              li(role='presentation')
                a(href='/reg') 注册
              li(role='presentation')
                a(href='/login') 登陆
            else
              li(role='presentation')
                a(href='/u/#{user.name}') #{user.name}
              li(role='presentation')
                a(href='/logout') 退出登录
        h3.text-muted
          a.nostyle-a(href='/') Microblog
          
      if success
        .alert.alert-success(role='alert') #{success}
      if error
        .alert.alert-danger(role='alert') #{error}
      block content
      
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
